
### Cui Xiaochen ignore template template
# IntelliJ project files
.idea

# python file
*.py~

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Database file
*.sqlite

# System file
*.sock

# wiki
*.wiki
