.panel{
    margin: 5px auto;
    width: 800px;
}

div.container-word{
    margin: 5px 30px ;
    width: 70%;
}

.word, .description{
    display: inline-block;
    margin: 5px 30px;
    width: 70%
}

div.nav {
    display: inline-block;
    width: 20%;
    margin-left:5%;
}

div#panel-note {
    margin: 25px 0;
}

div#note_edit {
    margin: 20px 0;
}

.note-context {
    border: 1px solid #e0e0e0;
    margin: 10px;
    padding: 15px 5px;
    font-size: medium;
    line-height: normal;
}

