{% extends 'base.html' %}

{% block title %}{{ super() }}背单词{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">单词背诵</h3>
        </div>
        <div id="panel-body">
            {% if words %}
                <div class="container-word container-word-word">
                    <div class="word">
                        <span id="word">{{ words[0].word }}</span>
                        <span id="phonetic">{{ words[0].phonetic }}</span>
                    </div>
                </div>
                <div class="container-word container-word-description">
                    <div class="description">
                        <span id="description">{{ words[0].description }}</span>
                    </div>
                </div>
                <div class="container-word container-word-switch">
                    <button type="button" class="btn btn-default" id="known">认识</button>
                    <button type="button" class="btn btn-default" id="unknown">不认识</button>
                    <a id="view-notes" href="{{ url_for('main.notes', word=words[0].word) }}">
                        <button type="button" class="btn btn-default">查看该单词的笔记
                        </button>
                    </a>

                </div>


            {% else %}
                <div class="container-word container-word">
                    <p>无可用单词</p>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {

            // 初始化words
            var words = [];

            {% for word in words %}
                var w = {};

                w['word'] = '{{ word.word }}';
                w['phonetic'] = '{{ word.phonetic }}';
                w['description'] = '{{ word.description }}';

                words.push(w);
            {% endfor %}

                    var word = null;

                    var index = 0;


            $('#known').click(
                    function () {
                        set_word_flag(true);
                        next_word();
                    }
            );

            $('#unknown').click(
                    function () {
                        set_word_flag(false);
                        next_word();
                    }
            );


            function set_word_flag(flag) {
                words[index].flag = flag
                    }

            function next_word() {
                if (index + 1 < words.length) {
                    index += 1;
                    word = words[index];

                    change_word_text();
                }
                else {
                    send_words()
                }
            }

            function change_word_text() {
                if (word != null) {
                    $('#word').text(word.word);
                    $('#phonetic').text(word.phonetic);
                    $('#description').text(word.description);

                    var h = $('#view-notes').attr('href');

                    $('#view-notes').attr('href', (h.replace(/(.+\/).+/, '$1' + word.word)));
                }
                else {

                }
            }

            function send_words() {
                var words_for_post_local = [];

                for (var i in words) {
                    var word_local = {
                        word: words[i].word,
                        flag: words[i].flag
                    };
                    words_for_post_local.push(word_local)
                }

                // convert an object to a string
                var data = JSON.stringify(words_for_post_local, null, 2);

                        $.ajax({
                            url: '{{ url_for('main.get_word') }}',
                            data: data,
                            type: 'POST',
                            dataType: 'json',
                            success: function (response) {
                                console.log(response);

                                if (response.status == 'COMPLIED') {
                                    console.log('MISSION COMPLIED');

                                    window.location.replace('{{ url_for('main.mission_complied') }}');
                                }
                                else {
                                    var words_obj_local = response.words;

                                    // 将words由object转为array
                                    words = $.map(words_obj_local, function (value, index) {
                                        return [value];
                                    });

                                    // words中包含'list'项，去掉这一项
                                    var index_local = words.indexOf('list');
                                    if (index_local > -1) {
                                        words.splice(index_local, 1);
                                    }

                                    // 重置index
                                    index = 0;

                                    change_word_text();
                                }

                            },
                            error: function (error) {
                                console.log(error)
                            }
                        })
                    }
                }
        );


    </script>
{% endblock %}